.App {
  /* max-width: 400px; */
  width: 500px;
  margin: 50px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 600px;
}

.chatWindow {
  flex-grow: 1; /* This will make the chat window grow to occupy the available space */
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.inputArea {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
  align-items: center;
}

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
  align-self: flex-start; /* Default alignment */
}

.message.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end; /* Align user messages to the right */
}

.message.bot {
  background-color: #f1f1f1;
}

.feedback {
  color: black;
  font-style: italic;
  margin-top: 4px;
  align-self: flex-end;
}
